body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden; 
}

h1 {
    color: #333;
}

h2 {
    text-align: center;
}

p {
    color: #666;
}

.game {
    margin-bottom: 20px;
}

.game img {
    max-width: 100%;
    height: auto;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: inline-block;
    margin-right: 10px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}
   

a:hover {
    color: #0056b3;
}

.card {
    border: none;
    transition: transform .2s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px; 
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px; 
    width: 100%; 
    object-fit: cover;
}

.row {
    margin-top: 20px; 
}

#videoBackground {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
    background-size: cover;
}

